
/* evol-utility : evol-view-toolbar.css  */

.dropdown-menu > li > a > glyphicon{
    padding-right:5px;
}

.navbar-nav > li > div {
    padding: 15px 20px 15px 5px;
    line-height: 20px;
    color: #777;
    border-radius: 4px;
}