
/*  evol-utility : evol-view-one.css  */

/* panels */

.evol-pnls, .evol-pnl > div > fieldset{
    margin-left: -16px;
}
.evol-fld, .evol-pnl, .evol-pnl-lst{
    padding-left:16px !important;
    margin-bottom: 6px;
}

.evol-tabs{
    position:relative;
    top: -10px;
}

.evol-required{
    margin-left:3px;
    color:#b94a48;
    font-weight:bold;
}

.evol-buttons {
    margin-top:0 !important;
}
.evol-buttons > button{
    margin-right:1em;
}
.evol-title-toggle{
    float:right;
}
.evol-json{
    width:100%;
    height:350px;
    margin-bottom:10px;
}
.glyphicon{
    cursor: pointer;
}
.glyphicon-wrench{
    margin-left: 5px;
    display: inline !important;
}

/* bootstrap modifications*/
.table {
    margin-bottom: 0 !important;
}
.evol-fld > .text-danger{
    margin-bottom: 0 !important;
}
.evol-field-label .glyphicon-question-sign{
    padding-left: 4px;
}

.evo-mini-label{
    float:left;
    width:38%;
    max-width:200px;
    padding-right:10px;
    clear:left;
}
.evo-mini-content{
    float:left;
    width:62%;
    width:calc(100% - 200px);
}

@media only screen and (max-width: 500px) {
    .evo-mini-label{float:none;width:auto;}
    .evo-mini-content{float:none;width:auto;}
}

.w-100{
    width: 100%;
}