
/* evol-utility : evol-view-toolbar.css  */

.evo-toolbar{
    border: 1px solid #bce8f1;
    border-radius: 4px;
    margin-bottom:10px;
    padding:3px;
}

.evo-filters{
    display:none;
    padding:5px;
}