
/* evolutility : header.css */


@import "less/variables";

.evol-logo{
  float:left;
  font-size: 2em;
  margin:5px 80px 5px 10px;

  a,a:hover{
    color: #ffc000 !important;
  }
}
.logop1,.logop3{
  font-weight: bold;
  color:white;
}
.logop2{
  font-weight: bold;
  color: #ed991a;
}

.evo-navbar{
    overflow: hidden; // TODO responsive
    background-color: @color-header;
    position: fixed;
    border-bottom: #366092 solid 1px;
    top:0;
    left:0;
    width:100%;
    padding:2px 5px 2px 10px;
    z-index: 3000;
    //-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    //-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    //box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

    a{
      color:@color-header-link;
      text-decoration: none;

      :hover{
        color:@color-header-link
      }
    }
}
.evo-header,.evo-header2{
  position: relative;

  >h1{
    margin-left: 20px;
    color:white !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
.evo-header{
  background-color: @color-header;
  top: 50px;
  padding:20px 10px;
  min-height: 120px;
}
.evo-header2{
  background-color: @color-header;
  top: 32px;
  padding:0 10px;
  min-height: 50px;
}
.evo-nav-tabs{
    margin-left:30px;
    display: block;
}
.evo-nav-tabs>li {
    display: inline;
    padding:10px;
}
.evo-nav-tabs>li>a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:@color-header-link-hover;
  }
}

.doc-links,
.demo-links{
    position: absolute;
    top:29px;

  >a{
    color:@color-header-link;

    &:hover{
      color:@color-header-link-hover;
      text-decoration: none;
    }
  }
}
.demo-links{
    left:246px;
}
.doc-links{
    left:323px;
}
.evo-nav-tabs{
    font-size: 1.5em;
}

.evo-nav-tabs>li>a.sel,
.doc-links>a.sel,
.demo-links>a.sel{
    color:white;
}


.demo-links2 > a {
	padding:1px 8px;
	color: #39C;
	font-weight: 400;
}
.demo-links2 > a.sel{
    color: @color-text;
	text-decoration: none;
	/*border: solid 2px blue;*/
}
.footer{
	text-align: center;
	font-size:smaller;
	color:@color-text-footer;
}
