node_modules
bower_components
fonts
js/vendors
css/bootstrap*.css
*-nogit
*-nogit.*
*.xml

demo/pix/
dico/pix/
doc/pix/
doc/Doc_*

# Windows stuff
Thumbs.db
Desktop.ini

# Mac stuff
.DS_Store

# WebStorm stuff
.idea
