node_modules
bower_components
js/dependencies.js
js/ui-models/doc/
dist/dependencies.js
js/models
js/ui-models/chinook
*.xml
*-nogit
*-nogit.*

demo-*/
dico/pix/
doc/pix/
doc/Doc_*
demo/demo-data.js

# Windows stuff
Thumbs.db
Desktop.ini

# Mac stuff
.DS_Store

# WebStorm stuff
.idea
