node_modules
bower_components
js/vendors.js
dist/vendors.js
js/models
css/bootstrap*.css
*-nogit
*-nogit.*
*.xml

dico/
dico/pix/
doc/pix/
doc/Doc_*

# Windows stuff
Thumbs.db
Desktop.ini

# Mac stuff
.DS_Store

# WebStorm stuff
.idea

